@import "partials/color";
@import "partials/header";
@import "partials/layout";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Sora', sans-serif;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: $primary;
    overflow-x: hidden;
}

button {
    font-family: 'Sora', sans-serif;
    cursor: pointer;
}

img {
    width: 100%;
}

a{
    cursor: pointer;
    text-decoration: none;
}
