.container{
    max-width: 1440px;
    margin: 0 auto;   
}

.bg-home {
    position: relative;
}

.bg-home::before {
    content: "";
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom ,rgba(6, 18, 30, 0.1), #06121e), url("/img/img-7.jpg");
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    opacity: 0.9;
}

.hero {
    min-height: 80vh;
    color: $secondary;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;

    h1 {
        text-align: center;
        line-height: 150%;
        max-width: 940px;
        font-size: 48px;
    }

    p {
        text-align: center;
        margin: 14px 0;
        font-size: 18px;
    }
}

.button-contact {
    padding: 14px 28px;
    color: $secondary;
    background-color: $red;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    margin: 14px 0;

    &:hover {
        animation: scaleButton 0.8s alternate infinite;
    }
}

@keyframes scaleButton {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.07);
    }
}